<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <!-- ID deve bater exatamente com o <id> declarado em cada <repository> do pom.xml -->
        <server>
            <id>github-authorization</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.PACKAGES_TOKEN}</password>
        </server>
        <server>
            <id>github-crud</id>
            <username>${env.GITHUB_ACTOR}</username>
            <password>${env.PACKAGES_TOKEN}</password>
        </server>
    </servers>
</settings>